.header {
  z-index: 2;
  padding-top: 39px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 117px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  margin-right: 32px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.header__link:nth-child(2) {
  margin-right: 41px;
}

.header__link:hover {
  color: #66BB6A;
  -webkit-transition: 0.6;
  transition: 0.6;
}

.header__btn {
  background: url(../img/header/user.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 86px) center;
  padding: 15px 23px 14px 46px;
  border: none;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F1F8E9;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  .header__btn {
    background: url(../img/header/user.svg) #66BB6A;
    background-repeat: no-repeat;
    background-position: calc(100% - 86px) center;
  }
}

@media screen and (max-width: 970px) {
  .header__logo {
    margin-right: 40px;
  }
}

@media screen and (max-width: 861px) {
  .header__links {
    display: none;
  }
}

.hero {
  padding-top: 217px;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__text {
  width: 473px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: #000000;
}

.hero__desc {
  margin-top: 26px;
  margin-bottom: 54px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #263238;
}

.hero__btn {
  width: 144px;
  background: #66BB6A;
  border: none;
  border-radius: 5px;
  padding: 8px 24px 8px 25px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
          filter: drop-shadow(0px 13px 20px rgba(118, 196, 125, 0.411204));
}

.hero__img {
  position: absolute;
  top: 0;
  right: 0;
}

.hero__photo {
  width: 100%;
}

@media screen and (max-width: 1180px) {
  .hero {
    background: #eee;
    padding: 150px 0 50px 0;
  }
  .hero__img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hero__text {
    width: 100%;
  }
  .hero__title {
    font-size: 25px;
    line-height: 35px;
  }
  .hero__desc {
    margin: 10px 0;
    font-size: 15px;
  }
}

.opportunities {
  position: relative;
  padding-top: 227px;
}

.opportunities__leaflets {
  position: absolute;
  top: -108px;
  left: 0;
}

.opportunities__wrapper {
  padding-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #F7F7F7;
}

.opportunities__title {
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}

.opportunities__subtext {
  margin-top: 13px;
  width: 550px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #324148;
}

.opportunities__items {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opportunities__item {
  margin-bottom: 36px;
  margin-right: 36px;
  padding-left: 48px;
  padding-top: 49px;
  padding-bottom: 34px;
  width: 328px;
  height: 328px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 13px 20px #F0F2F4;
          box-shadow: -1px 13px 20px #F0F2F4;
  border-radius: 5px;
}

.opportunities__item:last-child {
  margin-right: 0px;
}

.opportunities__item:hover {
  background: #66BB6A;
  -webkit-transition: 0.6;
  transition: 0.6;
}

.opportunities__icon {
  width: 78px;
  height: 64px;
}

.opportunities__name {
  margin-top: 21px;
  margin-bottom: 22px;
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #263238;
}

.opportunities__desc {
  margin-top: 22px;
  width: 248px;
  font-family: Chivo;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #263238;
}

.opportunities__item:hover .opportunities__name {
  color: #fff;
}

.opportunities__item:hover .opportunities__desc {
  color: #fff;
}

@media screen and (max-width: 1241px) {
  .opportunities__leaflets {
    display: none;
  }
}

@media screen and (max-width: 1180px) {
  .opportunities {
    padding-top: 50px;
  }
  .opportunities__items {
    margin-top: 50px;
  }
  .opportunities__wrapper {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1175px) {
  .opportunities__item {
    margin-right: 16px;
  }
}

@media screen and (max-width: 1135px) {
  .opportunities .container {
    max-width: 1135px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media screen and (max-width: 880px) {
  .opportunities {
    padding-top: 100px;
  }
}

@media screen and (max-width: 807px) {
  .opportunities__subtext {
    width: 100%;
  }
}

@media screen and (max-width: 731px) {
  .opportunities__item {
    margin: 5px;
  }
}

@media screen and (max-width: 600px) {
  .opportunities {
    padding: 50px 0;
  }
  .opportunities__title {
    font-size: 25px;
    line-height: 35px;
  }
  .opportunities__desc {
    margin: 10px 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 390px) {
  .opportunities__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin: 5px 0;
  }
  .opportunities__name {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .opportunities__desc {
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
}

.invest {
  padding-top: 86px;
  padding-bottom: 117px;
}

.invest__title {
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  color: #000000;
}

.invest__subtext {
  margin-top: 14px;
  width: 633px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #324148;
}

.invest__items {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.invest__item {
  margin-top: 2px;
  margin-right: 32px;
  width: 512px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 118, 127, 0.0001)), to(#324148));
  background: linear-gradient(180deg, rgba(97, 118, 127, 0.0001) 0%, #324148 100%);
  border-radius: 5px;
  padding-top: 39px;
  padding-left: 72px;
  padding-bottom: 56px;
}

.invest__item:last-child {
  margin-right: 0;
}

.invest__item-1 {
  background: url(../img/invest/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.invest__item-2 {
  background: url(../img/invest/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.invest__name {
  margin-top: 2px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2.8px;
  color: #66BB6A;
  text-transform: uppercase;
}

.invest__line {
  margin-top: 15px;
  background: #FFFFFF;
  border-radius: 2px;
  width: 56px;
  height: 4px;
}

.invest__subname {
  width: 248px;
  margin-top: 61px;
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 40px;
  color: #FFFFFF;
}

.invest__desc {
  width: 248px;
  margin-top: 13px;
  margin-bottom: 27px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E2EFD2;
}

.invest__btn {
  width: 200px;
  padding: 8px 42px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #66BB6A;
  cursor: pointer;
}

@media screen and (max-width: 1367px) {
  .invest .container {
    max-width: 1367px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media screen and (max-width: 1240px) {
  .invest__wrapper {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1187px) {
  .invest__item {
    margin-right: 16px;
    width: 450px;
  }
  .invest__items {
    margin-top: 50px;
  }
}

@media screen and (max-width: 976px) {
  .invest__item {
    width: 400px;
    padding-top: 28.5px;
    padding-left: 37px;
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 875px) {
  .invest__item {
    margin-right: 8px;
    width: 350px;
    padding-top: 7px;
    padding-left: 8px;
    padding-bottom: 7px;
  }
}

@media screen and (max-width: 767px) {
  .invest__wrapper {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .invest__subtext {
    width: 100%;
  }
  .invest__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invest__item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 538px) {
  .invest__title {
    text-align: center;
    line-height: 37px;
  }
  .invest__subtext {
    text-align: center;
  }
  .invest__item {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .invest {
    padding: 30px 0;
  }
  .invest__title {
    font-size: 25px;
    line-height: 35px;
  }
  .invest__subtext {
    margin: 10px 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .invest .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 5px;
  }
  .invest__item {
    width: 100%;
  }
}

.works__wrapper {
  padding-top: 106px;
  padding-bottom: 142px;
  background: url(../img/how-it-works/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__title {
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #fff;
}

.works__subtext {
  width: 704px;
  margin-top: 13px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #e8f5e9;
}

.works__numbers {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__number {
  position: relative;
  padding: 25px 25.5px 23px 26.5px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #d1ead3;
}

.works__number:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -190%;
  background: #fff;
  width: 139px;
  height: 2px;
}

.works__number:nth-child(1) {
  margin-left: 7px;
  margin-right: 139px;
}

.works__number:nth-child(2) {
  margin-right: 139px;
}

.works__number:nth-child(3) {
  margin-right: 139px;
}

.works__number:nth-child(4).works__number:before {
  display: none;
}

.works__text {
  width: 100%;
  margin-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__name {
  margin-left: 38px;
  width: 280px;
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.works__desc {
  margin-left: 111px;
  width: 352px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #e8f5e9;
}

@media screen and (max-width: 1367px) {
  .works .container {
    max-width: 1367px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media screen and (max-width: 880px) {
  .works .container {
    padding: 0;
  }
  .works__subtext {
    padding: 0 15px;
    width: 100%;
  }
  .works__number:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -95%;
    background: #fff;
    width: 69.5px;
    height: 2px;
  }
  .works__number:nth-child(1) {
    margin-left: 7px;
    margin-right: 69.5px;
  }
  .works__number:nth-child(2) {
    margin-right: 69.5px;
  }
  .works__number:nth-child(3) {
    margin-right: 69.5px;
  }
  .works__desc {
    margin-left: 55.5px;
  }
}

@media screen and (max-width: 765px) {
  .works__wrapper {
    padding-top: 53px;
    padding-bottom: 71px;
  }
  .works__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .works__name {
    margin-left: 0;
  }
  .works__desc {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 605px) {
  .works__numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works__number {
    margin-bottom: 45px;
  }
  .works__number:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    background: #fff;
    width: 2px;
    height: 45px;
  }
  .works__number:nth-child(1) {
    margin-left: 7px;
    margin-right: 0;
  }
  .works__number:nth-child(2) {
    margin-right: 0;
  }
  .works__number:nth-child(3) {
    margin-right: 0;
  }
  .works__text {
    margin-top: 0;
  }
}

@media screen and (max-width: 415px) {
  .works__name,
  .works__desc {
    width: 100%;
    padding: 0 5px;
  }
}

.saying {
  padding-top: 100px;
}

.saying__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.saying__title {
  width: 411px;
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}

.saying__mark {
  position: absolute;
  top: 0;
  left: 0px;
}

.saying__sliders {
  margin-top: 118px;
  background: #fff;
}

.saying__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 20px;
  width: 408px;
  height: 296px;
  padding: 47px 48px 52px 48px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.saying__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.saying__photo {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.saying__contact {
  margin-left: 25px;
  width: 246px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.saying__name {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #66BB6A;
}

.saying__position {
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.saying__desc {
  margin-top: 27px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #324148;
}

.saying__sliders-arrows {
  margin-top: 56px;
  margin-left: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliders__arrows-left {
  margin-right: 16px;
}

.sliders__arrows-left,
.sliders__arrows-right {
  color: #8aa1ac;
  padding: 20px 26px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.sliders__arrows-left:hover,
.sliders__arrows-right:hover {
  -webkit-transition: 0.7;
  transition: 0.7;
  background: #66BB6A;
}

.slider__arrow {
  width: 11.56px;
  height: 23.11px;
}

@media screen and (max-width: 1180px) {
  .saying {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1135px) {
  .saying .container {
    max-width: 1135px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .saying__sliders {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .saying__wrapper {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 880px) {
  .saying .container {
    padding: 0 30px;
  }
  .saying__title {
    width: 400px;
  }
  .saying__sliders-arrows {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .saying {
    padding-top: 50px;
  }
  .saying__title {
    width: 100%;
    font-size: 24px;
    line-height: 20px;
  }
  .saying__mark {
    top: -10px;
    width: 77.5px;
    height: 60px;
  }
}

.footer {
  padding-top: 182px;
  background: url(../../img/footer/illustration.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.farm {
  width: 100%;
  padding-bottom: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 25px 20px #F2F2F2;
          box-shadow: -1px 25px 20px #F2F2F2;
  border-radius: 5px;
}

.farm__title {
  margin-top: 77px;
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}

.farm__bold {
  color: #66BB6A;
}

.farm__btn {
  margin-top: 28px;
  padding: 8px 87px;
  background: #66BB6A;
  border-radius: 5px;
  border: none;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__nav {
  padding-top: 156px;
  padding-bottom: 138px;
  border-bottom: 2px solid #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__name {
  font-family: Chivo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.footer__link {
  margin-top: 29px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #607D8B;
}

.footer__blog {
  padding-left: 56px;
  width: 280px;
  height: 258px;
  background: #66BB6A;
  border-radius: 5px;
}

.footer__blog-title {
  margin-top: 32px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #EFF7E7;
}

.footer__blog-desc,
.footer__blog-email {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #EDF6E5;
}

.footer__blog-email {
  font-weight: bold;
}

.footer__blog-btn {
  margin-top: 15px;
  background: url(../img/footer/user.svg) #fff;
  background-repeat: no-repeat;
  background-position: calc(100% - 86px) center;
  padding: 15px 23px 14px 46px;
  border: none;
  border: none;
  border-radius: 5px;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #66BB6A;
  cursor: pointer;
}

.footer__copyright {
  position: relative;
  padding: 84px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyright-text {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #607D8B;
}

@media screen and (max-width: 880px) {
  .footer {
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .farm {
    padding-bottom: 30px;
  }
  .farm__title {
    margin-top: 30px;
    font-size: 24px;
  }
  .farm__btn {
    padding: 8px 24px;
  }
}

@media screen and (max-width: 1920px) {
  .footer__nav {
    padding-top: 371px;
  }
}

@media screen and (max-width: 1440px) {
  .footer__nav {
    padding-top: 171px;
  }
}

@media screen and (max-width: 1180px) {
  .footer {
    padding-top: 50px;
  }
  .footer__nav {
    padding-top: 200px;
    padding-bottom: 50px;
    border-bottom: 2px solid #e1e1e1;
  }
  .footer__copyright {
    padding: 50px 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding-top: 50px;
    background: #eee;
  }
  .footer__nav {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #e1e1e1;
  }
}

@media screen and (max-width: 768px) {
  .footer__blog {
    margin-top: 20px;
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__blog-title {
    margin-top: 0;
    margin-right: 20px;
  }
  .footer__item {
    margin-right: 50px;
  }
  .footer__blog-btn {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer .container {
    max-width: 600px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 505px) {
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__copyright-logo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 435px) {
  .footer__blog-btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 335px) {
  .footer__blog {
    padding: 10px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

@media screen and (max-width: 1920px) {
  .container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 120px;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 60px;
  }
}

body {
  font-family: 'Chivo', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */