// Rules
@import 'rules/colors';

// Sections
@import 'sections/header';
@import 'sections/hero';
@import 'sections/opportunities';
@import 'sections/invest';
@import 'sections/works';
@import 'sections/saying';
@import 'sections/footer';

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}

@media screen and (max-width: 1920px) {
    .container {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 120px;
    }
}

@media screen and (max-width: 1240px) {
    .container {
        max-width: 1240px;
        margin: 0 auto;
        padding: 0 60px;
    }
}



body {
    font-family: 'Chivo', sans-serif;
    box-sizing: border-box;
}