.header {
    z-index: 2;
    padding-top: 39px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    margin-right: 117px;
}

.header__links {
    display: flex;
}

.header__link {
    margin-right: 32px;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.header__link:nth-child(2) {
    margin-right: 41px;
}

.header__link:hover {
    color: $green;
    transition: 0.6;
}


.header__btn {
    background: url(../img/header/user.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 86px) center;
    padding: 15px 23px 14px 46px;
    border: none;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F1F8E9;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 1180px) {
    .header__btn {
        background: url(../img/header/user.svg) $green;
        background-repeat: no-repeat;
        background-position: calc(100% - 86px) center;
    }
}

@media screen and (max-width: 970px) {
    .header__logo {
        margin-right: 40px;
    }
}

@media screen and (max-width: 861px) {
    .header__links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 52px;
        left: 65px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background: $green;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .menu__box .header__link {
        margin-right: 0;
        display: block;
        padding: 20px 68px;
        transition-duration: .25s;
    }

    .menu__box .header__link:hover {
        background-color: #CFD8DC;
    }
}